* {
    box-sizing: border-box;
}
body{
   margin: 0;
   padding: 0; 
   font-family: 'Raleway', sans-serif;
}
h2 {
    margin-top: 107px;
    display:flex;
    flex-direction: column;
    text-align: center
}
hr {
    border: none; 
    background-color: #FF8D2D;
    height: 2px; 
    Width: 64px;
    margin: auto;
    text-align: center

   }
.title{
    margin: 0 auto;
    text-align: center
   }

.textcols{
    display: flex;
    text-align: center
}
img {
    border: 2px solid #FF8D2D;
    width: 70px; 
    height: 70px;
  border-radius: 60px;
}
